{%extends 'base.html'%}//맨위에

{%block content %}

    {% load static %}
    
        {%csrf_token%}
        <style>
          
            .postlist{
            background-color: rgb(255, 255,255,0.5);
            height:  800px;
            border-bottom-right-radius: 35px;
            border-bottom-left-radius: 35px;
             }
            .detailTable,tr,td,th{
                text-align: center;
                margin: auto;
                border: 1px black solid;
                border-collapse: collapse;
                padding: 10px;
                background-color: white;
            }
            th{
                width:70px;
            }
        </style>
     
       
        <div id="contents">
            <div class="postlist">
            <table class="detailTable">
                <br><br>
                <tr><td colspan="2">
                    {% if postContents.image %}
                    <embed src= {{postContents.image.url}} alt='image' height="250px">
                    {% else %}
                    <img src= "{%static '양갱이.png'%}" alt='image' height="250px">
                    {% endif %}
                </td></tr>
                <tr><th>제목</th><td> {{postContents.title}}</td></tr>
                <tr><th>작성자</th> <td>  {{postContents.writer}} </td></tr>
                <tr><th>본문</th><td  width = "300px" ><textarea cols="40" rows="10">{{postContents.body}}</textarea></td></tr>
            </table>
            <br><br>
            {{postContents.pub_date}}<br><br>
            {% if user.username == postContents.writer %}
            <a class="toNext" href="{% url 'editPost' postContents.id%}">수정하기</a>
            <a class="toNext" href="{% url 'deletePost' postContents.id%}">삭제하기</a>
            {% elif user.is_staff%}
            <a class="toNext" href="{% url 'deletePost' postContents.id%}">삭제하기</a>
            {%endif%}
            <br> <br> <br> <br>
        </div>
        </div>
{%endblock%}