
{%extends 'base_home.html'%}

{%block content %}

    {%load socialaccount%}
    {% load static %}
    {% providers_media_js %}
    <style>
       
        #midMenu , #midMenu a{
            text-align: right;
            background-color:  rgb(179, 108, 108);
            color:rgb(245, 245, 245);
            padding-top: 10px;
            padding-bottom: 10px;
        }
        a:hover , #midMenu a:hover{
            text-decoration: none;
            color: olive;
            font-weight: 900;
        }
        
       .postlist{
           background-color: rgb(255, 255,255,0.5);
           height:  800px;
           border-bottom-right-radius: 35px;
           border-bottom-left-radius: 35px;
       }
       .pageNav{
           position: relative;
           top:-170px;
           font-weight: 900;
       }
       
       table ,td,tr,th{
           text-align: center;
           background-color: rgb(247, 241, 241);
           margin: auto;
           border: 1px solid rgb(83, 9, 9) ;
           border-collapse: collapse;
           padding: 15px;
          
       }
       td{width: 200px;}
       
       .summary th,.summary td{
           height: 30px;
       }
    </style>

    <div id="contents">
        <div class="postlist">
            <br><h1>글 목록</h1>
            <hr width="300px">
            <br><br>
            
                {% for unit in blogPosts %}<!--근데 여기서는 항목별로 보이게 하려고 for문 써줌-->
                <div id="content">  
                    <a class="toNext" href="{% url 'detailPage' unit.id%}">
                        <table>
                            <tr><th>제목</th><td>{{unit.title}}</td><th>작성자</th><td>{{unit.writer}}</td></tr>
                            
                            <tr class="summary"><th>설명</th><td colspan="3">{{unit.summary}} </td></tr>
                         </table>
                   </a><br>
                
            </div>
            <br>
            {% endfor %}
        </div>
        {#First Previous 3 of 4 Next Last#}
        <div class="pageNav">
            <!--First Previous-->
            {% if blogPosts.has_previous%}
            <a href="?page=1">First</a>
            <a href="?page={{blogPosts.previous_page_number}}">Previous</a>
            {% endif %}
            <!--현재 of 전체-->
            <span>{{blogPosts.number}}</span>
            <span>of</span>
            <span>{{blogPosts.paginator.num_pages}}</span>
            <!--Next Last-->
            {% if blogPosts.has_next%}
            <a href="?page={{blogPosts.next_page_number}}">Next</a>
            <a href="?page={{blogPosts.paginator.num_pages}}">Last</a>
            {% endif %}
        </div> 
        <br><br>
    </div>
{%endblock%}